@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400;700&display=swap");

:root {
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* General page styles */
.homepage-content {
  font-family: "Montserrat", sans-serif; /* Unified font family */
  overflow-x: hidden;
}

/* Welcome section styles */
.Welcome {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #a4eeff, #2193b0);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: local;
  min-height: 60vh;
  position: relative;
}

.Welcome::before,
.Welcome::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 15%;
  opacity: 0.9;
  z-index: 0;
}

.Welcome::before {
  top: 0;
  right: 0;
  background: linear-gradient(to left, #ffb75e, #ffffff);
  clip-path: polygon(100% 0, 80% 50%, 100% 100%);
}

.Welcome::after {
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #a2e6ff, #ffffff);
  clip-path: polygon(0 100%, 20% 50%, 0 0);
}

/* Media queries for Welcome section */
@media (max-width: 768px) {
  .Welcome::before,
  .Welcome::after {
    width: 35%;
  }
}

/* Highlight and Checkmark styles */
.Highlight {
  color: rgb(51, 0, 255); /* Highlight color */
  font-weight: 600;
}

.checkmark {
  color: #28a745; /* Standardized green color for checkmarks */
}

/* Feature items and checkmark items */
.feature-item,
.checkmark-feature-item {
  border-radius: 1rem;
  background: #ffffff;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.feature-item:hover,
.checkmark-feature-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px var(--shadow-color);
}

.checkmark-feature-item .detail {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  position: absolute;
  bottom: 110%;
  left: 0;
}

.checkmark-feature-item:hover .detail {
  visibility: visible;
  opacity: 1;
}

/* Utilizing Bootstrap utility classes in JSX for layout, margin, padding, etc. reduces the need for custom CSS */
