@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400;700&display=swap");

.homepage-content {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
}
.homelogo {
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  position: relative;
  display: inline-flex;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}
.beforeafter {
  height: 30em;
  margin: 10px;
  border-radius: 3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}
.Welcome {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #a4eeff, #2193b0);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: local;
  border-bottom: 1px solid rgba(255, 255, 255, 0.97);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease; /* Smooth transition for hover effects */
}

.Welcome::before,
.Welcome::after {
  content: "";
  position: absolute;
  height: 100%;
  opacity: 0.8;
  transition: all 0.5s ease; /* Smooth transition for hover effects */
  z-index: 1; /* Ensure it stays below interactive elements */
}

.Welcome::before {
  top: 0;
  right: 0;
  width: 25%; /* Adjust the width for better spacing */
  background: linear-gradient(to left, #ffb75e, #ffffff);
  clip-path: polygon(100% 0, 80% 50%, 100% 100%);
  box-shadow: -10px 0 15px rgba(255, 11, 11, 0.2); /* Left shadow for depth */
  z-index: 0; /* Ensure it stays below interactive elements */
}
.Welcome::after {
  bottom: 0;
  left: 0;
  width: 25%; /* Match the width for symmetry */
  background: linear-gradient(to right, #a2e6ff, #ffffff);
  clip-path: polygon(0 100%, 20% 50%, 0 0);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2); /* Right shadow for depth */
  z-index: 0; /* Ensure it stays below interactive elements */
}

@media (max-width: 768px) {
  .Welcome::before,
  .Welcome::after {
    width: 35%; /* Larger shapes for smaller screens */
  }
}

.why-choose-us {
  display: inline-block;
  padding: 1%;
  text-align: center;
  color: #333;
  font-family: "Arial", sans-serif;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.feature-item {
  flex: 0 1 28%;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 0px;
  background: #ffffff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden; /* For hover effect */
}

.feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-item h5 {
  color: #2193b0; /* Add brand color for titles */
  margin-bottom: 15px;
  font-size: 1.2em;
}

.feature-item p {
  color: #333; /* Darker text color for readability */
}

/* Hover effect for a fun element */
.feature-item::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent);
  transition: top 0.3s ease;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center; /* Center align items in the column */
  }

  .feature-item {
    flex-basis: 100%;
    /* Ensure margins are auto to center align the items */
  }
}

/* Additional styles for .CheckMarkFitContainer and .checkmark-feature-item */

.CheckMarkFitContainer {
  display: flex;
  flex-direction: row; /* Align children in a row */
  flex-wrap: wrap; /* If necessary, items will wrap to the next line */
  justify-content: center; /* Center items in the container */
  align-items: center; /* Align items vertically */
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 3em;
}
.checkmark-feature-item {
  border: 2px solid #d3d3d3; /* Slightly thicker and softer grey border */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Deeper shadow for a more pronounced effect */
  border-radius: 1vw; /* Slightly more rounded corners */
  padding: 0.5vw; /* Ample padding for inner spacing */
  margin: 0.4em;
  width: fit-content;
  height: fit-content;
  max-width: 100%; /* Prevents the element from becoming too wide */
  background: #ffffff; /* White background for contrast */
  text-align: center; /* Centered text */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transitions for interaction */
  position: relative;
  font-size: 1em;
}

.checkmark-feature-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.checkmark-feature-item .detail {
  /* Initial styles for the hidden details */
  text-align: center; /* Centered text */
  visibility: hidden; /* Hidden but still takes up space */
  opacity: 0; /* Start fully transparent */
  transition: visibility 0s, opacity 0.2s linear;
  position: absolute;
  bottom: 110%; /* Position it above the item */
  left: 0; /* Align it with the left edge of the item */
  width: fit-content; /* Adjust as needed */
  border: 2px solid #d3d3d3; /* Slightly thicker and softer grey border */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Deeper shadow for a more pronounced effect */
  border-radius: 1em; /* Slightly more rounded corners */
  padding: 0.5em; /* Ample padding for inner spacing */
  margin: 0.2em;
  max-width: 100%; /* Prevents the element from becoming too wide */
  background: #ffffff; /* White background for contrast */
  font-size: 0.9em;
  max-height: fit-content;
}

.checkmark-feature-item:hover .detail {
  /* Displaying the detail on hover */
  visibility: visible; /* Now visible */
  opacity: 1; /* Fade to fully opaque */
}

.checkmark-feature-item .checkmark {
  color: #28a745; /* A green color for checkmark */
  margin-right: 5px; /* Space between checkmark and text */
  font-size: 1rem;
}

.feature-item img {
  margin-bottom: 10px; /* Space between image and text */
}

.checkmark {
  color: green;
  margin: 0.3vw;
  font-size: 1rem;
}

/* General Styles for Color and Shadow */
:root {
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.HeaderSubtitle {
  font-size: 1em;
  color: #2f2f2f;
  font-weight: 300;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: -2em;
  margin-bottom: 2em;
}

.Highlight {
  color: rgb(51, 0, 255);
  font-weight: 600;
  font-size: 1.1em;
}

.limited-time-banner {
  background-color: #fbff00; /* Bootstrap primary color */
  display: block;
  color: rgb(68, 68, 68);
  padding: 0.5em;
  text-align: center;
  font-weight: 900;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  opacity: 1;
  position: relative;
  font-family: "Roboto";
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .limited-time-banner p {
    font-size: 14px;
  }
}

.close-banner {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  color: #fff; /* Adjust the color based on your banner's background */
  cursor: pointer;
}
.banner-hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
