.aboutsection {
}
.aboutheader {
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 0;
}

.aboutheader h1 {
  font-size: 2.5em;
  margin: 0em;
  color: #1a5276;
  font-weight: bold;
}
.h2 {
  font-size: 2.5em;
  color: #1a5276;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 0.2em;
}
.aboutheader p {
  font-style: italic;
  color: #777;
  margin-bottom: 1em;
}

section h3 {
  font-size: 1.8em;
  color: #1a5276;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: left;
}

section p {
  font-size: 1em;
  color: #333;
  line-height: 1.8;
  margin-bottom: 0.5em;
  text-align: left;
}

.counterssection {
  background-color: #caecff;
  border-radius: 2em;
  padding: 1em;
  position: relative;
}

.counteritem {
  text-align: center;
  flex: 1;
}

.counteritem p {
  color: #1a5376fe;
  font-size: 1em;
  margin-top: 5px;
}

section {
  margin-top: 3em;
}

.important {
  font-weight: bold;
  color: #1a5276;
}

a:hover {
  color: #0b5394;
  text-decoration: underline;
}
.section {
  padding: 0.1em;
}
