.about-container {
  padding: 10px;
  background-color: #f9f9f9;
}

.about-container .bg-light {
  background-color: #ffffff !important;
}
.about-content {
  max-width: 70vw;
  margin: 0 auto;
  text-align: left;
}

.about-item {
  margin-bottom: 40px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item h3 {
  font-size: 2rem;
  color: #35404d;
  margin-bottom: 10px;
  font-weight: 700;
}

.about-item p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #4d4d4d;
}
.faq-title {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.accordion {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.accordion-item {
  background-color: #fff;
  margin: 0;
}

.accordion-button {
  background-color: #1a5276;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1em 1.5em;
  border: none;
  text-align: left;
  transition: background-color 0.3s ease;
}

.accordion-button.collapsed {
  background-color: #eeeeee;
  color: #333333;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #145a7a;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}

.accordion-button:hover {
  background-color: #166088;
  color: #ffffff;
}

.accordion-collapse {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-body {
  font-size: 1.1em;
  line-height: 1.6;
  padding: 1em 1.5em;
  color: #3d4349;
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .accordion {
    margin: 1em;
    max-width: 100%;
  }
  .accordion-button {
    padding: 0.75em 1em;
    font-size: 1rem;
  }
  .accordion-body {
    padding: 0.75em 1em;
  }
  .faq-title {
    font-size: 1.8em;
  }
}
