@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400;700&display=swap");

:root {
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.homepage-content {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.Welcome {
  background-image: linear-gradient(to bottom, #a4eeff, #2193b0);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: local;
  position: relative;
  text-align: center;
  min-height: 70dvh;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: column;
}

.Welcome::before,
.Welcome::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 15%;
  opacity: 0.9;
  z-index: 0;
}

.Welcome::before {
  top: 0;
  right: 0;
  background: linear-gradient(to left, #ffb75e, #ffffff);
  clip-path: polygon(100% 0, 80% 50%, 100% 100%);
  z-index: 0;
}

.Welcome::after {
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #a2e6ff, #ffffff);
  clip-path: polygon(0 100%, 20% 50%, 0 0);
  z-index: 0;
}

.Highlight {
  color: rgb(0, 4, 255);
  font-weight: 600;
}
