@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

:root {
  --primary-color: #007bff;
  --secondary-color: #dbdbdb;
  --background-color: #f8f9fa;
  --card-bg-color: #ffffff;
  --highlight-color2: rgb(0, 170, 255);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-shadow-color: rgba(0, 0, 0, 0.15);
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

.homepage-content {
  font-family: var(--font-primary);
  overflow-x: hidden;
}

.hero-section {
  background-image: url("../../../mbenz.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 85vh;
  position: relative;
  color: #eaeaea;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.bottom-features {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.hero-title,
.hero-subtitle {
  text-align: left;
}

.hero-title {
  font-family: var(--font-secondary);
  font-size: 5vw;
  font-weight: 600;
}

.hero-subtitle {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: 500;
  color: #c6c4c4;
}

.cta-button {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  margin-bottom: 0.1rem;
  align-self: flex-start;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-price {
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: left;
}

.highlight2 {
  color: var(--highlight-color2);
}

.feature-title {
  color: white;
  margin-left: 1px;
  font-weight: 400;
  font-family: sans-serif;
}

.feature-icon {
  background-color: rgb(69, 69, 69);
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
}

.feature-detail {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
  color: #c6c4c4;
}

.testimonials-section {
  min-width: 100%;
}

.testimonial-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: var(--card-bg-color);
  overflow: hidden;
  padding: 3rem;
}

@media (max-width: 768px) {
  .hero-title {
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  .hero-price {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.75rem;
  }

  .feature-title {
    font-size: 1rem;
  }

  .feature-detail {
    font-size: 0.75rem;
  }

  .bottom-features {
    padding: 0;
  }
}
