/* ContactForm.css */
.support-info p {
  font-size: 1.2rem; /* Slightly larger font size for readability */
}

.contact {
  min-height: 100vh;
  padding-top: 50px; /* Ensures that the contact form doesn't overlap with the navbar if it's fixed */
}
