.custom-footer {
  background: #333;
  color: #b0b4b8;
  position: sticky;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em;
  margin: 0;
}
.custom-footer {
}
.footer-content {
  font-size: 1em;
  text-align: center;
  margin-top: 0px;
}
