.servicesTable {
  max-width: 100vw;
  margin: auto;
  position: relative;
  background: url("webb.png");
}

.servicesTable .row {
  display: inline-flex;
  justify-content: center;
  position: relative;
  row-gap: 0rem;
  column-gap: 0rem;
  margin: 0;
  padding-top: 1em;
  width: 100%;
}

.check-icon {
  color: green;
  margin-right: 0.2em;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 1em;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.service-card-inclusions {
  list-style: none;
  padding-left: 0;
  margin: 0px;
  text-align: center;
  justify-content: center;
}

.ServiceCardItems {
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.8;
  top: 0;
  list-style: none;
  text-align: center;
  color: #313131;
  font-weight: 400;
}

.servicesTable h4 {
  font-size: 2em;
  margin: 0;
  color: #0056b3;
  font-weight: 500;
}

.HeaderSubtitle2 {
  background-color: #4b4b4b;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  opacity: 1;
  max-height: 200px;
  position: relative;
  border-radius: 10rem;
  max-width: fit-content;
}

.sale-price {
  color: #0004ff;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: #797979;
  margin-left: 1px;
}

.most-popular-banner {
  position: absolute;
  top: -25px;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  background-color: #00bfff;
  color: white;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  padding-right: 0.1em;
  padding-left: 0.1em;
}

.card.most-popular {
  border: 2px solid #add8e6;
}
.bottom {
  list-style: none;
}
.custom-alert {
  background-color: #ffffffd3;
  color: #4b4b4b;
  border-color: #ffffff;
  font-size: 1.2rem;
  width: fit-content;
  margin-top: 1em;
  border-radius: 2em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: inherit;
  align-items: center;
}

.compare-button {
  text-align: center;
  z-index: 1000;
  color: white;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-left: 0.2em;
}
.service-compare {
  z-index: 1;
  opacity: 1;
  margin: 0;
}
