.services-comparison-container {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  top: 0;
}

.services-comparison-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.services-comparison-table th,
.services-comparison-table td {
  border: 1px solid #ddd;
  padding: 0.2em; /* Increased padding for better readability */
  text-align: center;
}

.services-comparison-table th {
  background-color: #f4f4f4;
  color: #333;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase; /* Makes header text uppercase */
}

.services-comparison-table tr:nth-child(odd) {
  background-color: #efeded;
}

.services-comparison-table tr:nth-child(even) {
  background-color: #ffffff;
}
.services-comparison-table tr:hover {
  background-color: #aeebfc; /* Hover effect for rows */
}
.check-icon-compare {
  color: green;
  font-size: 1.3em;
}
