@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0099ff;
  --hover-color: #005b99;
  --background-light: #00000000;
  --text-muted: #555;
}

body {
  font-family: "Roboto";
  opacity: 1;
  overflow-x: hidden;
  z-index: 10;
}

a {
  color: var(--primary-color);
  transition: color 0.3s, transform 0.2s;
}

a:hover {
  color: var(--hover-color);
}

.AppContainer {
}
.NavContainer {
  margin-bottom: 3.8em;
}

.AppContainer {
}
