@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --navbar-background: #1a1a1a;
  --navbar-text-color: #f0f0f0;
  --navbar-hover-color: #00bcd4;
  --navbar-active-color: #03a9f4;
  --navbar-border-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  transition: padding 0.3s ease-out, background-color 0.3s ease,
    font-size 0.3s ease;
  font-size: large;
  margin: 0;
  padding: 0.7rem;
}

.navbar-shrink {
  padding: 0.3rem;
  font-size: medium;
  opacity: 0.9;
}

.navbar-brand {
  transition: transform 0.3s ease-out;
}

.nav-link {
  color: var(--navbar-text-color);
  margin-left: 0em;
  transition: color 0.3s ease;
  font-weight: 400;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--navbar-hover-color);
  text-decoration: none;
}

.nav-link.active {
  color: var(--navbar-active-color) !important;
  font-weight: bold;
  text-decoration: none;
}

.navbar-toggler {
  background-color: #303030;
  font-size: medium;
  margin-right: 0.2em;
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28 255, 255, 255, 0.5 %29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
  .navbar-nav .nav-link {
    text-align: left;
    padding: 0.5rem 0.1rem;
  }
}

.ms-auto {
  margin-left: auto !important;
}
