@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.logoContainer {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logoText {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.logoIcon {
  margin-left: 0.5rem;
}

.navbar .navbar-brand.active {
  border-bottom: none !important;
}

.navbar .navbar-brand.active::after {
  border-bottom: none !important;
}
