@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.logoContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.logoText {
  font-family: "Roboto";
  font-weight: 400;
  padding: 0;
}

.logoIcon {
  margin-left: 0.1rem;
}

.navbar .navbar-brand.active {
  border-bottom: none !important;
}

.navbar .navbar-brand.active::after {
  border-bottom: none !important;
}
