/* Import Google Fonts if needed */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Logo Container Styles */
.logoContainer {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Logo Text Styles */
.logoText {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Logo Icon Styles */
.logoIcon {
  margin-left: 0.5rem;
}

/* Adjustments for Navbar Brand */
.navbar .navbar-brand.active {
  border-bottom: none !important;
}

.navbar .navbar-brand.active::after {
  border-bottom: none !important;
}
