:root {
  --transition-speed: 0.3s;
  --button-padding: 1px 1px;
}

.services {
  flex-wrap: nowrap;
  display: inline-flex;
  flex-direction: row;
}

.services-table {
  padding: 0;
  margin: 0 0;
  border: none;
  border-radius: 10px;
  flex-wrap: nowrap;
  display: inline-flex;
  flex-direction: column;
}
